---
import Badge from "@/components/starwind/badge";
import BaseLayout from "@/layouts/BaseLayout.astro";

type Props = {
  title?: string;
  heading: string;
  color?: "default" | "prod" | "test";
  badge?: string;
  description?: string;
};

const { title, heading, color = "default", badge, description } = Astro.props;
---

<BaseLayout title={title} color={color}>
  <main class="min-h-dvh">
    <article class="mx-auto flex min-h-dvh max-w-screen-lg flex-col gap-6 px-6 pb-10 pt-24">
      <section class="space-y-2 pt-6 text-center">
        <h1 class="flex flex-wrap items-center justify-center gap-3 text-3xl font-bold tracking-normal">
          <span>{heading}</span>
          {badge && <Badge variant={color === "test" ? "error" : "success"}>{badge}</Badge>}
        </h1>
        {description && <p class="text-muted-foreground">{description}</p>}
      </section>
      <slot />
    </article>
  </main>
</BaseLayout>
